<div class="slide-out">
  <div class="slide-out-card">

    <div class="slide-out-heading">
      <div class="title">
        <h3>Login</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <LoginForm @user={{this.model}} @errors={{this.errors}} @onSubmit={{this.login}} />
    </div>
  </div>
</div>