<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <AuthorForm @firstName={{this.model.firstName}} @lastName={{this.model.lastName}} @onSubmit={{this.saveAuthor}} />
      <button class="btn-pop" {{on "click" this.changeFirstName}}>Change firstName</button>
    </div>
  </div>
</div>