<select multiple="multiple" data-role="tagsinput" style="display: none;" id="inputTags">
  <option value="суперкнига" selected="selected">суперкнига</option>
  <option value="программирование" selected="selected">программирование</option>
</select>
